<section class="bg-white border-b py-8" data-sly-use.boxes="it.ensayo.core.models.BoxesModel"
         data-sly-test="${properties.title}">

    <div class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">${properties.title}</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <sly data-sly-list.item="${boxes.boxes}">
            <div class="flex flex-wrap ${itemList.even ? 'flex-col-reverse sm:flex-row-reverse' : ''}">

                <div class="w-5/6 sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">${item.title}</h3>
                    <p class="text-gray-600 mb-8">${item.text}</p>
                </div>
                <div class="w-full sm:w-1/2 p-6">
                    <img class="w-full sm:h-64 mx-auto" src="${item.image}"/>
                </div>
            </div>
        </sly>

    </div>
</section>


<!--/*Placeholder*/-->
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.title}"></sly>
